CHANGELOG.md
/ecosystem-tests/*/**
/node_modules
/deno
/packages/mcp-server/manifest.json
/packages/mcp-server/cloudflare-worker/worker-configuration.d.ts

# release-please reformats this file when bumping versions in a way that's non-prettier-compliant
packages/mcp-server/manifest.json

# don't format tsc output, will break source maps
dist
