{
  "openapi": "3.1.0",
  "info": {
    "title": "External API",
    "version": "61770f593190b70031f3d019ae5b68d58e60743e",
    "x-scalar-sdk-installation": [
      {
        "lang": "Python",
        "description": "```sh\npip install profound\n```"
      },
      {
        "lang": "TypeScript",
        "description": "```sh\nnpm install @profoundai/client\n```"
      }
    ]
  },
  "servers": [
    {
      "url": "https://api.tryprofound.com",
      "description": "Production Server"
    }
  ],
  "paths": {
    "/v1/org": {
      "get": {
        "tags": [
          "Organization"
        ],
        "summary": "List organizations",
        "description": "Return every organization the caller's API key grants access to. Use this to discover organization IDs before calling endpoints that accept an `organization_id` filter.",
        "operationId": "list_organizations_v1_org_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Organization"
                  },
                  "type": "array",
                  "title": "Response List Organizations V1 Org Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "import Profound from '@profoundai/client';\n\nconst client = new Profound({\n  apiKey: process.env['PROFOUND_API_KEY'], // This is the default and can be omitted\n});\n\nconst organizations = await client.organizations.list();\n\nconsole.log(organizations);"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os\n\nfrom profound import Profound\n\nclient = Profound(\n    api_key_header=os.environ.get(\"API_KEY_HEADER\"),\n)\n\norganization = client.organizations.list()\nprint(organization)"
          },
          {
            "lang": "TypeScript",
            "label": "TypeScript",
            "source": "import Profound from \"@profoundai/client\";\n\nconst client = new Profound({\n  apiKeyHeader: process.env[\"API_KEY_HEADER\"], // defaults to the API_KEY_HEADER env var\n  environment: \"production\",\n});\n\nconst list = await client.organizations.list();\nconsole.log(list);"
          }
        ]
      }
    },
    "/v1/org/regions": {
      "get": {
        "tags": [
          "Organization"
        ],
        "summary": "Get Regions",
        "description": "Get the organization regions.",
        "operationId": "get_regions_v1_org_regions_get",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "organization_ids",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "uuid"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Restrict results to one or more organizations the caller belongs to. Repeat the parameter to target multiple orgs (e.g. `?organization_ids=<id1>&organization_ids=<id2>`). Omit to return data from every organization the caller has access to.",
              "title": "Organization Ids"
            },
            "description": "Restrict results to one or more organizations the caller belongs to. Repeat the parameter to target multiple orgs (e.g. `?organization_ids=<id1>&organization_ids=<id2>`). Omit to return data from every organization the caller has access to."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NamedResource"
                  },
                  "title": "Response Get Regions V1 Org Regions Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "import Profound from '@profoundai/client';\n\nconst client = new Profound({\n  apiKey: process.env['PROFOUND_API_KEY'], // This is the default and can be omitted\n});\n\nconst namedResources = await client.organizations.regions();\n\nconsole.log(namedResources);"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os\n\nfrom profound import Profound\n\nclient = Profound(\n    api_key_header=os.environ.get(\"API_KEY_HEADER\"),\n)\n\norganization = client.organizations.regions()\nprint(organization)"
          },
          {
            "lang": "TypeScript",
            "label": "TypeScript",
            "source": "import Profound from \"@profoundai/client\";\n\nconst client = new Profound({\n  apiKeyHeader: process.env[\"API_KEY_HEADER\"], // defaults to the API_KEY_HEADER env var\n  environment: \"production\",\n});\n\nconst regions = await client.organizations.regions();\nconsole.log(regions);"
          }
        ]
      }
    },
    "/v1/org/models": {
      "get": {
        "tags": [
          "Organization"
        ],
        "summary": "Get Models",
        "description": "Get the organization models.",
        "operationId": "get_models_v1_org_models_get",
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/NamedResource"
                  },
                  "type": "array",
                  "title": "Response Get Models V1 Org Models Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "import Profound from '@profoundai/client';\n\nconst client = new Profound({\n  apiKey: process.env['PROFOUND_API_KEY'], // This is the default and can be omitted\n});\n\nconst namedResources = await client.organizations.models();\n\nconsole.log(namedResources);"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os\n\nfrom profound import Profound\n\nclient = Profound(\n    api_key_header=os.environ.get(\"API_KEY_HEADER\"),\n)\n\norganization = client.organizations.models()\nprint(organization)"
          },
          {
            "lang": "TypeScript",
            "label": "TypeScript",
            "source": "import Profound from \"@profoundai/client\";\n\nconst client = new Profound({\n  apiKeyHeader: process.env[\"API_KEY_HEADER\"], // defaults to the API_KEY_HEADER env var\n  environment: \"production\",\n});\n\nconst models = await client.organizations.models();\nconsole.log(models);"
          }
        ]
      }
    },
    "/v1/org/domains": {
      "get": {
        "tags": [
          "Organization"
        ],
        "summary": "Get Domains",
        "description": "Get the organization domains.",
        "operationId": "get_domains_v1_org_domains_get",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "organization_ids",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "uuid"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Restrict results to one or more organizations the caller belongs to. Repeat the parameter to target multiple orgs (e.g. `?organization_ids=<id1>&organization_ids=<id2>`). Omit to return data from every organization the caller has access to.",
              "title": "Organization Ids"
            },
            "description": "Restrict results to one or more organizations the caller belongs to. Repeat the parameter to target multiple orgs (e.g. `?organization_ids=<id1>&organization_ids=<id2>`). Omit to return data from every organization the caller has access to."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DomainWithOrganization"
                  },
                  "title": "Response Get Domains V1 Org Domains Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "import Profound from '@profoundai/client';\n\nconst client = new Profound({\n  apiKey: process.env['PROFOUND_API_KEY'], // This is the default and can be omitted\n});\n\nconst response = await client.organizations.domains();\n\nconsole.log(response);"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os\n\nfrom profound import Profound\n\nclient = Profound(\n    api_key_header=os.environ.get(\"API_KEY_HEADER\"),\n)\n\norganization = client.organizations.domains()\nprint(organization)"
          },
          {
            "lang": "TypeScript",
            "label": "TypeScript",
            "source": "import Profound from \"@profoundai/client\";\n\nconst client = new Profound({\n  apiKeyHeader: process.env[\"API_KEY_HEADER\"], // defaults to the API_KEY_HEADER env var\n  environment: \"production\",\n});\n\nconst domains = await client.organizations.domains();\nconsole.log(domains);"
          }
        ]
      }
    },
    "/v1/org/assets": {
      "get": {
        "tags": [
          "Organization"
        ],
        "summary": "Get Assets",
        "description": "Get the organization assets, one row per (asset, organization) pair.\n\nAn asset's category can belong to multiple organizations; one asset row is\nemitted per owning org so no association is silently dropped.",
        "operationId": "get_assets_v1_org_assets_get",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "organization_ids",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "uuid"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Restrict results to one or more organizations the caller belongs to. Repeat the parameter to target multiple orgs (e.g. `?organization_ids=<id1>&organization_ids=<id2>`). Omit to return data from every organization the caller has access to.",
              "title": "Organization Ids"
            },
            "description": "Restrict results to one or more organizations the caller belongs to. Repeat the parameter to target multiple orgs (e.g. `?organization_ids=<id1>&organization_ids=<id2>`). Omit to return data from every organization the caller has access to."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationAssetsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "import Profound from '@profoundai/client';\n\nconst client = new Profound({\n  apiKey: process.env['PROFOUND_API_KEY'], // This is the default and can be omitted\n});\n\nconst response = await client.organizations.listAssets();\n\nconsole.log(response.data);"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os\n\nfrom profound import Profound\n\nclient = Profound(\n    api_key_header=os.environ.get(\"API_KEY_HEADER\"),\n)\n\norganization = client.organizations.list_assets()\nprint(organization)"
          },
          {
            "lang": "TypeScript",
            "label": "TypeScript",
            "source": "import Profound from \"@profoundai/client\";\n\nconst client = new Profound({\n  apiKeyHeader: process.env[\"API_KEY_HEADER\"], // defaults to the API_KEY_HEADER env var\n  environment: \"production\",\n});\n\nconst listAssets = await client.organizations.listAssets();\nconsole.log(listAssets);"
          }
        ]
      }
    },
    "/v1/org/personas": {
      "get": {
        "tags": [
          "Organization"
        ],
        "summary": "Get Personas",
        "description": "Get the organization personas, one row per (persona, organization) pair.\n\nSame (item, org) fan-out as ``get_assets``: a persona's category can be\nowned by multiple orgs, and each owning org gets its own row so no\nassociation is silently dropped.",
        "operationId": "get_personas_v1_org_personas_get",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "organization_ids",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "uuid"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Restrict results to one or more organizations the caller belongs to. Repeat the parameter to target multiple orgs (e.g. `?organization_ids=<id1>&organization_ids=<id2>`). Omit to return data from every organization the caller has access to.",
              "title": "Organization Ids"
            },
            "description": "Restrict results to one or more organizations the caller belongs to. Repeat the parameter to target multiple orgs (e.g. `?organization_ids=<id1>&organization_ids=<id2>`). Omit to return data from every organization the caller has access to."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrganizationPersonasWithCategoryResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "import Profound from '@profoundai/client';\n\nconst client = new Profound({\n  apiKey: process.env['PROFOUND_API_KEY'], // This is the default and can be omitted\n});\n\nconst response = await client.organizations.getPersonas();\n\nconsole.log(response.data);"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os\n\nfrom profound import Profound\n\nclient = Profound(\n    api_key_header=os.environ.get(\"API_KEY_HEADER\"),\n)\n\norganization = client.organizations.get_personas()\nprint(organization)"
          },
          {
            "lang": "TypeScript",
            "label": "TypeScript",
            "source": "import Profound from \"@profoundai/client\";\n\nconst client = new Profound({\n  apiKeyHeader: process.env[\"API_KEY_HEADER\"], // defaults to the API_KEY_HEADER env var\n  environment: \"production\",\n});\n\nconst getPersonas = await client.organizations.getPersonas();\nconsole.log(getPersonas);"
          }
        ]
      }
    },
    "/v1/org/categories": {
      "get": {
        "tags": [
          "Organization",
          "Categories"
        ],
        "summary": "Get Categories",
        "description": "Get the organization categories, one row per (category, organization) pair.",
        "operationId": "get_categories_v1_org_categories_get",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "organization_ids",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "format": "uuid"
                  }
                },
                {
                  "type": "null"
                }
              ],
              "description": "Restrict results to one or more organizations the caller belongs to. Repeat the parameter to target multiple orgs (e.g. `?organization_ids=<id1>&organization_ids=<id2>`). Omit to return data from every organization the caller has access to.",
              "title": "Organization Ids"
            },
            "description": "Restrict results to one or more organizations the caller belongs to. Repeat the parameter to target multiple orgs (e.g. `?organization_ids=<id1>&organization_ids=<id2>`). Omit to return data from every organization the caller has access to."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CategoryWithOrganization"
                  },
                  "title": "Response Get Categories V1 Org Categories Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "import Profound from '@profoundai/client';\n\nconst client = new Profound({\n  apiKey: process.env['PROFOUND_API_KEY'], // This is the default and can be omitted\n});\n\nconst categories = await client.organizations.categories.list();\n\nconsole.log(categories);"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os\n\nfrom profound import Profound\n\nclient = Profound(\n    api_key_header=os.environ.get(\"API_KEY_HEADER\"),\n)\n\ncategory = client.organizations.categories.list()\nprint(category)"
          },
          {
            "lang": "TypeScript",
            "label": "TypeScript",
            "source": "import Profound from \"@profoundai/client\";\n\nconst client = new Profound({\n  apiKeyHeader: process.env[\"API_KEY_HEADER\"], // defaults to the API_KEY_HEADER env var\n  environment: \"production\",\n});\n\nconst list = await client.organizations.categories.list();\nconsole.log(list);"
          }
        ]
      }
    },
    "/v1/org/categories/{category_id}/topics": {
      "get": {
        "tags": [
          "Organization",
          "Categories"
        ],
        "summary": "Get Category Topics",
        "description": "Get the topics for a specific category.",
        "operationId": "get_category_topics_v1_org_categories__category_id__topics_get",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "category_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Category Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Topic"
                  },
                  "title": "Response Get Category Topics V1 Org Categories  Category Id  Topics Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "import Profound from '@profoundai/client';\n\nconst client = new Profound({\n  apiKey: process.env['PROFOUND_API_KEY'], // This is the default and can be omitted\n});\n\nconst response = await client.organizations.categories.topics(\n  '182bd5e5-6e1a-4fe4-a799-aa6d9a6ab26e',\n);\n\nconsole.log(response);"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os\n\nfrom profound import Profound\n\nclient = Profound(\n    api_key_header=os.environ.get(\"API_KEY_HEADER\"),\n)\n\ncategory = client.organizations.categories.topics(\n    category_id=\"categoryId\",\n)\nprint(category)"
          },
          {
            "lang": "TypeScript",
            "label": "TypeScript",
            "source": "import Profound from \"@profoundai/client\";\n\nconst client = new Profound({\n  apiKeyHeader: process.env[\"API_KEY_HEADER\"], // defaults to the API_KEY_HEADER env var\n  environment: \"production\",\n});\n\nconst topics = await client.organizations.categories.topics(\"categoryId\");\nconsole.log(topics);"
          }
        ]
      }
    },
    "/v1/org/categories/{category_id}/tags": {
      "get": {
        "tags": [
          "Organization",
          "Categories"
        ],
        "summary": "Get Category Tags",
        "description": "Get the tags for a specific category.",
        "operationId": "get_category_tags_v1_org_categories__category_id__tags_get",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "category_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Category Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Tag"
                  },
                  "title": "Response Get Category Tags V1 Org Categories  Category Id  Tags Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "import Profound from '@profoundai/client';\n\nconst client = new Profound({\n  apiKey: process.env['PROFOUND_API_KEY'], // This is the default and can be omitted\n});\n\nconst response = await client.organizations.categories.tags('182bd5e5-6e1a-4fe4-a799-aa6d9a6ab26e');\n\nconsole.log(response);"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os\n\nfrom profound import Profound\n\nclient = Profound(\n    api_key_header=os.environ.get(\"API_KEY_HEADER\"),\n)\n\ncategory = client.organizations.categories.tags(\n    category_id=\"categoryId\",\n)\nprint(category)"
          },
          {
            "lang": "TypeScript",
            "label": "TypeScript",
            "source": "import Profound from \"@profoundai/client\";\n\nconst client = new Profound({\n  apiKeyHeader: process.env[\"API_KEY_HEADER\"], // defaults to the API_KEY_HEADER env var\n  environment: \"production\",\n});\n\nconst tags = await client.organizations.categories.tags(\"categoryId\");\nconsole.log(tags);"
          }
        ]
      }
    },
    "/v1/org/categories/{category_id}/regions": {
      "get": {
        "tags": [
          "Organization",
          "Categories"
        ],
        "summary": "Get Category Regions",
        "description": "Get the regions for a specific category.",
        "operationId": "get_category_regions_v1_org_categories__category_id__regions_get",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "category_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Category Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NamedResource"
                  },
                  "title": "Response Get Category Regions V1 Org Categories  Category Id  Regions Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "import Profound from '@profoundai/client';\n\nconst client = new Profound({\n  apiKey: process.env['PROFOUND_API_KEY'], // This is the default and can be omitted\n});\n\nconst namedResources = await client.organizations.categories.retrieveRegions(\n  '182bd5e5-6e1a-4fe4-a799-aa6d9a6ab26e',\n);\n\nconsole.log(namedResources);"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os\n\nfrom profound import Profound\n\nclient = Profound(\n    api_key_header=os.environ.get(\"API_KEY_HEADER\"),\n)\n\norganization = client.organization.list_category_regions_v1_org_categories_category_regions_get(\n    category_id=\"categoryId\",\n)\nprint(organization)"
          },
          {
            "lang": "TypeScript",
            "label": "TypeScript",
            "source": "import Profound from \"@profoundai/client\";\n\nconst client = new Profound({\n  apiKeyHeader: process.env[\"API_KEY_HEADER\"], // defaults to the API_KEY_HEADER env var\n  environment: \"production\",\n});\n\nconst listCategoryRegionsV1OrgCategoriesCategoryRegionsGet = await client.organization.listCategoryRegionsV1OrgCategoriesCategoryRegionsGet(\"categoryId\");\nconsole.log(listCategoryRegionsV1OrgCategoriesCategoryRegionsGet);"
          }
        ]
      }
    },
    "/v1/org/categories/{category_id}/prompts": {
      "get": {
        "tags": [
          "Organization",
          "Categories"
        ],
        "summary": "List prompts",
        "description": "Retrieve prompts in a category with optional filtering by type, topic, tag, region, platform, or persona. Supports cursor-based pagination.",
        "operationId": "get_category_prompts_v1_org_categories__category_id__prompts_get",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "category_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Category Id"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 10000,
              "exclusiveMinimum": 0,
              "description": "Maximum number of prompts to return.",
              "default": 10000,
              "title": "Limit"
            },
            "description": "Maximum number of prompts to return."
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "description": "Pagination cursor from a previous response.",
              "title": "Cursor"
            },
            "description": "Pagination cursor from a previous response."
          },
          {
            "name": "order_dir",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/OrderByDirection",
              "description": "Sort direction by creation date."
            },
            "description": "Sort direction by creation date."
          },
          {
            "name": "analysis_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/AnalysisType"
              },
              "description": "Filter by analysis type (visibility, sentiment, accuracy).",
              "default": [],
              "title": "Analysis Type"
            },
            "description": "Filter by analysis type (visibility, sentiment, accuracy)."
          },
          {
            "name": "prompt_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/PromptType"
              },
              "description": "Deprecated. Use analysis_type instead.",
              "deprecated": true,
              "default": [],
              "title": "Prompt Type"
            },
            "description": "Deprecated. Use analysis_type instead.",
            "deprecated": true
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "enum": [
                  "active",
                  "disabled"
                ],
                "type": "string"
              },
              "description": "Filter by prompt status. Defaults to `active` only.",
              "default": [
                "active"
              ],
              "title": "Status"
            },
            "description": "Filter by prompt status. Defaults to `active` only."
          },
          {
            "name": "topic_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "uuid"
              },
              "description": "Filter by topic IDs.",
              "default": [],
              "title": "Topic Id"
            },
            "description": "Filter by topic IDs."
          },
          {
            "name": "tag_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "uuid"
              },
              "description": "Filter by tag IDs.",
              "default": [],
              "title": "Tag Id"
            },
            "description": "Filter by tag IDs."
          },
          {
            "name": "region_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "uuid"
              },
              "description": "Filter by region IDs.",
              "default": [],
              "title": "Region Id"
            },
            "description": "Filter by region IDs."
          },
          {
            "name": "platform_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "uuid"
              },
              "description": "Filter by platform IDs.",
              "default": [],
              "title": "Platform Id"
            },
            "description": "Filter by platform IDs."
          },
          {
            "name": "persona_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "uuid"
              },
              "description": "Filter by persona IDs.",
              "default": [],
              "title": "Persona Id"
            },
            "description": "Filter by persona IDs."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CategoryPromptsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "import Profound from '@profoundai/client';\n\nconst client = new Profound({\n  apiKey: process.env['PROFOUND_API_KEY'], // This is the default and can be omitted\n});\n\nconst response = await client.organizations.categories.prompts(\n  '182bd5e5-6e1a-4fe4-a799-aa6d9a6ab26e',\n);\n\nconsole.log(response.data);"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os\n\nfrom profound import Profound\n\nclient = Profound(\n    api_key_header=os.environ.get(\"API_KEY_HEADER\"),\n)\n\ncategory = client.organizations.categories.prompts(\n    category_id=\"categoryId\",\n    limit=10000,\n    status=[\"active\"],\n)\nprint(category)"
          },
          {
            "lang": "TypeScript",
            "label": "TypeScript",
            "source": "import Profound from \"@profoundai/client\";\n\nconst client = new Profound({\n  apiKeyHeader: process.env[\"API_KEY_HEADER\"], // defaults to the API_KEY_HEADER env var\n  environment: \"production\",\n});\n\nconst prompts = await client.organizations.categories.prompts(\"categoryId\", {\n  limit: 10000,\n  status: [\"active\"],\n});\nconsole.log(prompts);"
          }
        ]
      },
      "post": {
        "tags": [
          "Organization",
          "Categories"
        ],
        "summary": "Create prompts",
        "description": "Create one or more prompts in a category. Topics and tags are auto-created if referenced by name and not yet existing. Use dry_run to preview without persisting.",
        "operationId": "create_category_prompts_v1_org_categories__category_id__prompts_post",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "category_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Category Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePromptsBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePromptsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "import Profound from '@profoundai/client';\n\nconst client = new Profound({\n  apiKey: process.env['PROFOUND_API_KEY'], // This is the default and can be omitted\n});\n\nconst response = await client.organizations.categories.createPrompts(\n  '182bd5e5-6e1a-4fe4-a799-aa6d9a6ab26e',\n  {\n    prompts: [\n      {\n        language: 'language',\n        platforms: [{}],\n        prompt: 'x',\n        regions: [{}],\n        topic: {},\n      },\n    ],\n  },\n);\n\nconsole.log(response.dry_run);"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os\n\nfrom profound import Profound\n\nclient = Profound(\n    api_key_header=os.environ.get(\"API_KEY_HEADER\"),\n)\n\ncategory = client.organizations.categories.create_prompts(\n    category_id=\"categoryId\",\n    prompts=[],\n    dry_run=False,\n)\nprint(category)"
          },
          {
            "lang": "TypeScript",
            "label": "TypeScript",
            "source": "import Profound from \"@profoundai/client\";\n\nconst client = new Profound({\n  apiKeyHeader: process.env[\"API_KEY_HEADER\"], // defaults to the API_KEY_HEADER env var\n  environment: \"production\",\n});\n\nconst createPrompts = await client.organizations.categories.createPrompts(\"categoryId\", {\n  prompts: [],\n  dry_run: false,\n});\nconsole.log(createPrompts);"
          }
        ]
      },
      "patch": {
        "tags": [
          "Organization",
          "Categories"
        ],
        "summary": "Update prompts",
        "description": "Update one or more existing prompts. Only provided fields are changed. Dimension fields (regions, platforms, personas, tags) replace the full set when provided. Use dry_run to preview without persisting.",
        "operationId": "update_category_prompts_v1_org_categories__category_id__prompts_patch",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "category_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Category Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePromptsBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdatePromptsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "import Profound from '@profoundai/client';\n\nconst client = new Profound({\n  apiKey: process.env['PROFOUND_API_KEY'], // This is the default and can be omitted\n});\n\nconst response = await client.organizations.categories.updatePrompts(\n  '182bd5e5-6e1a-4fe4-a799-aa6d9a6ab26e',\n  { prompts: [{ id: 'id' }] },\n);\n\nconsole.log(response.dry_run);"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os\n\nfrom profound import Profound\n\nclient = Profound(\n    api_key_header=os.environ.get(\"API_KEY_HEADER\"),\n)\n\ncategory = client.organizations.categories.update_prompts(\n    category_id=\"categoryId\",\n    prompts=[],\n    dry_run=False,\n)\nprint(category)"
          },
          {
            "lang": "TypeScript",
            "label": "TypeScript",
            "source": "import Profound from \"@profoundai/client\";\n\nconst client = new Profound({\n  apiKeyHeader: process.env[\"API_KEY_HEADER\"], // defaults to the API_KEY_HEADER env var\n  environment: \"production\",\n});\n\nconst updatePrompts = await client.organizations.categories.updatePrompts(\"categoryId\", {\n  prompts: [],\n  dry_run: false,\n});\nconsole.log(updatePrompts);"
          }
        ]
      }
    },
    "/v1/org/categories/{category_id}/prompts/status": {
      "patch": {
        "tags": [
          "Organization",
          "Categories"
        ],
        "summary": "Update prompt status",
        "description": "Bulk-update the status of one or more prompts. Prompts already in the target status are skipped. Use dry_run to preview without persisting.\n\nStatus options:\n- 'active': Prompts will run daily.\n- 'disabled': Prompts will not run moving forward, but historical data is preserved.\n- 'deleted': Prompts are deleted along with historical data",
        "operationId": "update_category_prompt_status_v1_org_categories__category_id__prompts_status_patch",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "category_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Category Id"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePromptStatusBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdatePromptStatusResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "import Profound from '@profoundai/client';\n\nconst client = new Profound({\n  apiKey: process.env['PROFOUND_API_KEY'], // This is the default and can be omitted\n});\n\nconst response = await client.organizations.categories.updatePromptStatus(\n  '182bd5e5-6e1a-4fe4-a799-aa6d9a6ab26e',\n  { prompt_ids: ['182bd5e5-6e1a-4fe4-a799-aa6d9a6ab26e'], status: 'active' },\n);\n\nconsole.log(response.dry_run);"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os\n\nfrom profound import Profound\n\nclient = Profound(\n    api_key_header=os.environ.get(\"API_KEY_HEADER\"),\n)\n\ncategory = client.organizations.categories.update_prompt_status(\n    category_id=\"categoryId\",\n    prompt_ids=[],\n    status=\"active\",\n    dry_run=False,\n)\nprint(category)"
          },
          {
            "lang": "TypeScript",
            "label": "TypeScript",
            "source": "import Profound from \"@profoundai/client\";\n\nconst client = new Profound({\n  apiKeyHeader: process.env[\"API_KEY_HEADER\"], // defaults to the API_KEY_HEADER env var\n  environment: \"production\",\n});\n\nconst updatePromptStatus = await client.organizations.categories.updatePromptStatus(\"categoryId\", {\n  prompt_ids: [],\n  status: \"active\",\n  dry_run: false,\n});\nconsole.log(updatePromptStatus);"
          }
        ]
      }
    },
    "/v1/org/categories/{category_id}/assets": {
      "get": {
        "tags": [
          "Organization",
          "Categories"
        ],
        "summary": "Get Category Assets",
        "operationId": "get_category_assets_v1_org_categories__category_id__assets_get",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "category_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Category Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CategoryAsset"
                  },
                  "title": "Response Get Category Assets V1 Org Categories  Category Id  Assets Get"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "import Profound from '@profoundai/client';\n\nconst client = new Profound({\n  apiKey: process.env['PROFOUND_API_KEY'], // This is the default and can be omitted\n});\n\nconst response = await client.organizations.categories.assets(\n  '182bd5e5-6e1a-4fe4-a799-aa6d9a6ab26e',\n);\n\nconsole.log(response);"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os\n\nfrom profound import Profound\n\nclient = Profound(\n    api_key_header=os.environ.get(\"API_KEY_HEADER\"),\n)\n\ncategory = client.organizations.categories.assets(\n    category_id=\"categoryId\",\n)\nprint(category)"
          },
          {
            "lang": "TypeScript",
            "label": "TypeScript",
            "source": "import Profound from \"@profoundai/client\";\n\nconst client = new Profound({\n  apiKeyHeader: process.env[\"API_KEY_HEADER\"], // defaults to the API_KEY_HEADER env var\n  environment: \"production\",\n});\n\nconst assets = await client.organizations.categories.assets(\"categoryId\");\nconsole.log(assets);"
          }
        ]
      }
    },
    "/v1/org/categories/{category_id}/personas": {
      "get": {
        "tags": [
          "Organization",
          "Categories"
        ],
        "summary": "Get Category Personas",
        "operationId": "get_category_personas_v1_org_categories__category_id__personas_get",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "category_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Category Id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CategoryPersonasResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "import Profound from '@profoundai/client';\n\nconst client = new Profound({\n  apiKey: process.env['PROFOUND_API_KEY'], // This is the default and can be omitted\n});\n\nconst response = await client.organizations.categories.getCategoryPersonas(\n  '182bd5e5-6e1a-4fe4-a799-aa6d9a6ab26e',\n);\n\nconsole.log(response.data);"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os\n\nfrom profound import Profound\n\nclient = Profound(\n    api_key_header=os.environ.get(\"API_KEY_HEADER\"),\n)\n\ncategory = client.organizations.categories.get_category_personas(\n    category_id=\"categoryId\",\n)\nprint(category)"
          },
          {
            "lang": "TypeScript",
            "label": "TypeScript",
            "source": "import Profound from \"@profoundai/client\";\n\nconst client = new Profound({\n  apiKeyHeader: process.env[\"API_KEY_HEADER\"], // defaults to the API_KEY_HEADER env var\n  environment: \"production\",\n});\n\nconst getCategoryPersonas = await client.organizations.categories.getCategoryPersonas(\"categoryId\");\nconsole.log(getCategoryPersonas);"
          }
        ]
      }
    },
    "/v1/prompts/answers": {
      "post": {
        "tags": [
          "Prompts"
        ],
        "summary": "Get Answers",
        "operationId": "get_answers_v1_prompts_answers_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnswersQuery"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnswersResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "import Profound from '@profoundai/client';\n\nconst client = new Profound({\n  apiKey: process.env['PROFOUND_API_KEY'], // This is the default and can be omitted\n});\n\nconst response = await client.prompts.answers({\n  category_id: '182bd5e5-6e1a-4fe4-a799-aa6d9a6ab26e',\n  end_date: '2019-12-27T18:11:19.117Z',\n  start_date: '2019-12-27T18:11:19.117Z',\n});\n\nconsole.log(response.data);"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os\n\nfrom profound import Profound\n\nclient = Profound(\n    api_key_header=os.environ.get(\"API_KEY_HEADER\"),\n)\n\nanswer = client.prompts.answers.create_v1_prompts_post(\n    category_id=\"\",\n    start_date=\"\",\n    end_date=\"\",\n)\nprint(answer)"
          },
          {
            "lang": "TypeScript",
            "label": "TypeScript",
            "source": "import Profound from \"@profoundai/client\";\n\nconst client = new Profound({\n  apiKeyHeader: process.env[\"API_KEY_HEADER\"], // defaults to the API_KEY_HEADER env var\n  environment: \"production\",\n});\n\nconst createV1PromptsPost = await client.prompts.answers.createV1PromptsPost({\n  category_id: \"\",\n  start_date: \"\",\n  end_date: \"\",\n});\nconsole.log(createV1PromptsPost);"
          }
        ]
      }
    },
    "/v1/reports/citations": {
      "post": {
        "tags": [
          "Reports",
          "Reports"
        ],
        "summary": "Query Citations",
        "description": "Get citations for a given category.",
        "operationId": "query_citations_v1_reports_citations_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CitationsQuery"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CitationsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "import Profound from '@profoundai/client';\n\nconst client = new Profound({\n  apiKey: process.env['PROFOUND_API_KEY'], // This is the default and can be omitted\n});\n\nconst response = await client.reports.citations({\n  category_id: '182bd5e5-6e1a-4fe4-a799-aa6d9a6ab26e',\n  end_date: '2019-12-27T18:11:19.117Z',\n  metrics: ['count'],\n  start_date: '2019-12-27T18:11:19.117Z',\n});\n\nconsole.log(response.data);"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os\n\nfrom profound import Profound\n\nclient = Profound(\n    api_key_header=os.environ.get(\"API_KEY_HEADER\"),\n)\n\ncitation = client.reports.citations.query_v1_reports_post(\n    date_interval=\"day\",\n    dimensions=[],\n    metrics=[],\n    order_by={},\n    category_id=\"\",\n    start_date=\"\",\n    end_date=\"\",\n)\nprint(citation)"
          },
          {
            "lang": "TypeScript",
            "label": "TypeScript",
            "source": "import Profound from \"@profoundai/client\";\n\nconst client = new Profound({\n  apiKeyHeader: process.env[\"API_KEY_HEADER\"], // defaults to the API_KEY_HEADER env var\n  environment: \"production\",\n});\n\nconst queryV1ReportsPost = await client.reports.citations.queryV1ReportsPost({\n  date_interval: \"day\",\n  dimensions: [],\n  metrics: [],\n  order_by: {},\n  category_id: \"\",\n  start_date: \"\",\n  end_date: \"\",\n});\nconsole.log(queryV1ReportsPost);"
          }
        ]
      }
    },
    "/v1/reports/citations/stream": {
      "post": {
        "tags": [
          "Reports",
          "Reports"
        ],
        "summary": "Stream Citations",
        "operationId": "stream_citations_v1_reports_citations_stream_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StreamCitationsQuery"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Server-sent events stream. Emits a `summary` event first, then one `row` event per streamed row.",
            "content": {
              "text/event-stream": {
                "schema": {
                  "oneOf": [
                    {
                      "properties": {
                        "query": {
                          "additionalProperties": true,
                          "type": "object",
                          "title": "Query",
                          "description": "The normalized query used to build the stream."
                        },
                        "total_rows": {
                          "type": "integer",
                          "title": "Total Rows",
                          "description": "Total number of rows available before pagination is applied."
                        }
                      },
                      "type": "object",
                      "required": [
                        "query",
                        "total_rows"
                      ],
                      "title": "SSESummaryEventData"
                    },
                    {
                      "additionalProperties": true,
                      "type": "object",
                      "description": "A streamed citations report row payload."
                    }
                  ]
                },
                "examples": {
                  "summary": {
                    "summary": "Initial summary event payload",
                    "value": {
                      "query": {
                        "category_id": "12345678-1234-5678-1234-567812345678",
                        "metrics": [
                          "count"
                        ],
                        "dimensions": [
                          "model"
                        ]
                      },
                      "total_rows": 2
                    }
                  },
                  "row": {
                    "summary": "Streamed row event payload",
                    "value": {
                      "model": {
                        "id": "11111111-1111-1111-1111-111111111111",
                        "name": "GPT-4"
                      },
                      "count": 42
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "import Profound from '@profoundai/client';\n\nconst client = new Profound({\n  apiKey: process.env['PROFOUND_API_KEY'], // This is the default and can be omitted\n});\n\nconst response = await client.reports.streamCitations({\n  category_id: '182bd5e5-6e1a-4fe4-a799-aa6d9a6ab26e',\n  end_date: '2019-12-27T18:11:19.117Z',\n  metrics: ['count'],\n  start_date: '2019-12-27T18:11:19.117Z',\n});\n\nconsole.log(response);"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os\n\nfrom profound import Profound\n\nclient = Profound(\n    api_key_header=os.environ.get(\"API_KEY_HEADER\"),\n)\n\nstream = client.reports.citations.stream_v1_reports_stream_post(\n    date_interval=\"day\",\n    dimensions=[],\n    metrics=[],\n    order_by={},\n    category_id=\"\",\n    start_date=\"\",\n    end_date=\"\",\n)\nfor event in stream:\n    print(event)"
          },
          {
            "lang": "TypeScript",
            "label": "TypeScript",
            "source": "import Profound from \"@profoundai/client\";\n\nconst client = new Profound({\n  apiKeyHeader: process.env[\"API_KEY_HEADER\"], // defaults to the API_KEY_HEADER env var\n  environment: \"production\",\n});\n\nconst stream = await client.reports.citations.streamV1ReportsStreamPost({\n  date_interval: \"day\",\n  dimensions: [],\n  metrics: [],\n  order_by: {},\n  category_id: \"\",\n  start_date: \"\",\n  end_date: \"\",\n});\nfor await (const event of stream) {\n  console.log(event);\n}"
          }
        ]
      }
    },
    "/v1/reports/visibility": {
      "post": {
        "tags": [
          "Reports",
          "Reports"
        ],
        "summary": "Query Visibility",
        "description": "Query visibility report.",
        "operationId": "query_visibility_v1_reports_visibility_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VisibilityQuery"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "import Profound from '@profoundai/client';\n\nconst client = new Profound({\n  apiKey: process.env['PROFOUND_API_KEY'], // This is the default and can be omitted\n});\n\nconst reportResponse = await client.reports.visibility({\n  category_id: '182bd5e5-6e1a-4fe4-a799-aa6d9a6ab26e',\n  end_date: '2019-12-27T18:11:19.117Z',\n  metrics: ['share_of_voice'],\n  start_date: '2019-12-27T18:11:19.117Z',\n});\n\nconsole.log(reportResponse.data);"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os\n\nfrom profound import Profound\n\nclient = Profound(\n    api_key_header=os.environ.get(\"API_KEY_HEADER\"),\n)\n\nvisibility = client.reports.visibility.query_v1_reports_post(\n    date_interval=\"day\",\n    dimensions=[],\n    metrics=[],\n    order_by={},\n    category_id=\"\",\n    start_date=\"\",\n    end_date=\"\",\n)\nprint(visibility)"
          },
          {
            "lang": "TypeScript",
            "label": "TypeScript",
            "source": "import Profound from \"@profoundai/client\";\n\nconst client = new Profound({\n  apiKeyHeader: process.env[\"API_KEY_HEADER\"], // defaults to the API_KEY_HEADER env var\n  environment: \"production\",\n});\n\nconst report = await client.reports.visibility.queryV1ReportsPost({\n  date_interval: \"day\",\n  dimensions: [],\n  metrics: [],\n  order_by: {},\n  category_id: \"\",\n  start_date: \"\",\n  end_date: \"\",\n});\nconsole.log(report);"
          }
        ]
      }
    },
    "/v1/reports/visibility/stream": {
      "post": {
        "tags": [
          "Reports",
          "Reports"
        ],
        "summary": "Stream Visibility",
        "operationId": "stream_visibility_v1_reports_visibility_stream_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StreamVisibilityQuery"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Server-sent events stream. Emits a `summary` event first, then one `row` event per streamed row.",
            "content": {
              "text/event-stream": {
                "schema": {
                  "oneOf": [
                    {
                      "properties": {
                        "query": {
                          "additionalProperties": true,
                          "type": "object",
                          "title": "Query",
                          "description": "The normalized query used to build the stream."
                        },
                        "total_rows": {
                          "type": "integer",
                          "title": "Total Rows",
                          "description": "Total number of rows available before pagination is applied."
                        }
                      },
                      "type": "object",
                      "required": [
                        "query",
                        "total_rows"
                      ],
                      "title": "SSESummaryEventData"
                    },
                    {
                      "additionalProperties": true,
                      "type": "object",
                      "description": "A streamed visibility report row payload."
                    }
                  ]
                },
                "examples": {
                  "summary": {
                    "summary": "Initial summary event payload",
                    "value": {
                      "query": {
                        "category_id": "12345678-1234-5678-1234-567812345678",
                        "metrics": [
                          "count"
                        ],
                        "dimensions": [
                          "model"
                        ]
                      },
                      "total_rows": 2
                    }
                  },
                  "row": {
                    "summary": "Streamed row event payload",
                    "value": {
                      "asset": {
                        "id": "11111111-1111-1111-1111-111111111111",
                        "name": "Brand A"
                      },
                      "mentions_count": 7
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "import Profound from '@profoundai/client';\n\nconst client = new Profound({\n  apiKey: process.env['PROFOUND_API_KEY'], // This is the default and can be omitted\n});\n\nconst response = await client.reports.streamVisibility({\n  category_id: '182bd5e5-6e1a-4fe4-a799-aa6d9a6ab26e',\n  end_date: '2019-12-27T18:11:19.117Z',\n  metrics: ['share_of_voice'],\n  start_date: '2019-12-27T18:11:19.117Z',\n});\n\nconsole.log(response);"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os\n\nfrom profound import Profound\n\nclient = Profound(\n    api_key_header=os.environ.get(\"API_KEY_HEADER\"),\n)\n\nstream = client.reports.visibility.stream_v1_reports_stream_post(\n    date_interval=\"day\",\n    dimensions=[],\n    metrics=[],\n    order_by={},\n    category_id=\"\",\n    start_date=\"\",\n    end_date=\"\",\n)\nfor event in stream:\n    print(event)"
          },
          {
            "lang": "TypeScript",
            "label": "TypeScript",
            "source": "import Profound from \"@profoundai/client\";\n\nconst client = new Profound({\n  apiKeyHeader: process.env[\"API_KEY_HEADER\"], // defaults to the API_KEY_HEADER env var\n  environment: \"production\",\n});\n\nconst stream = await client.reports.visibility.streamV1ReportsStreamPost({\n  date_interval: \"day\",\n  dimensions: [],\n  metrics: [],\n  order_by: {},\n  category_id: \"\",\n  start_date: \"\",\n  end_date: \"\",\n});\nfor await (const event of stream) {\n  console.log(event);\n}"
          }
        ]
      }
    },
    "/v1/reports/sentiment": {
      "post": {
        "tags": [
          "Reports",
          "Reports"
        ],
        "summary": "Query Sentiment",
        "description": "Get citations for a given category.",
        "operationId": "query_sentiment_v1_reports_sentiment_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SentimentQuery"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "import Profound from '@profoundai/client';\n\nconst client = new Profound({\n  apiKey: process.env['PROFOUND_API_KEY'], // This is the default and can be omitted\n});\n\nconst reportResponse = await client.reports.sentiment({\n  category_id: '182bd5e5-6e1a-4fe4-a799-aa6d9a6ab26e',\n  end_date: '2019-12-27T18:11:19.117Z',\n  metrics: ['positive'],\n  start_date: '2019-12-27T18:11:19.117Z',\n});\n\nconsole.log(reportResponse.data);"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os\n\nfrom profound import Profound\n\nclient = Profound(\n    api_key_header=os.environ.get(\"API_KEY_HEADER\"),\n)\n\nsentiment = client.reports.sentiment.query_v1_reports_post(\n    date_interval=\"day\",\n    dimensions=[],\n    metrics=[],\n    order_by={},\n    category_id=\"\",\n    start_date=\"\",\n    end_date=\"\",\n)\nprint(sentiment)"
          },
          {
            "lang": "TypeScript",
            "label": "TypeScript",
            "source": "import Profound from \"@profoundai/client\";\n\nconst client = new Profound({\n  apiKeyHeader: process.env[\"API_KEY_HEADER\"], // defaults to the API_KEY_HEADER env var\n  environment: \"production\",\n});\n\nconst report = await client.reports.sentiment.queryV1ReportsPost({\n  date_interval: \"day\",\n  dimensions: [],\n  metrics: [],\n  order_by: {},\n  category_id: \"\",\n  start_date: \"\",\n  end_date: \"\",\n});\nconsole.log(report);"
          }
        ]
      }
    },
    "/v1/reports/sentiment/stream": {
      "post": {
        "tags": [
          "Reports",
          "Reports"
        ],
        "summary": "Stream Sentiment",
        "operationId": "stream_sentiment_v1_reports_sentiment_stream_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StreamSentimentQuery"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Server-sent events stream. Emits a `summary` event first, then one `row` event per streamed row.",
            "content": {
              "text/event-stream": {
                "schema": {
                  "oneOf": [
                    {
                      "properties": {
                        "query": {
                          "additionalProperties": true,
                          "type": "object",
                          "title": "Query",
                          "description": "The normalized query used to build the stream."
                        },
                        "total_rows": {
                          "type": "integer",
                          "title": "Total Rows",
                          "description": "Total number of rows available before pagination is applied."
                        }
                      },
                      "type": "object",
                      "required": [
                        "query",
                        "total_rows"
                      ],
                      "title": "SSESummaryEventData"
                    },
                    {
                      "additionalProperties": true,
                      "type": "object",
                      "description": "A streamed sentiment report row payload."
                    }
                  ]
                },
                "examples": {
                  "summary": {
                    "summary": "Initial summary event payload",
                    "value": {
                      "query": {
                        "category_id": "12345678-1234-5678-1234-567812345678",
                        "metrics": [
                          "count"
                        ],
                        "dimensions": [
                          "model"
                        ]
                      },
                      "total_rows": 2
                    }
                  },
                  "row": {
                    "summary": "Streamed row event payload",
                    "value": {
                      "theme": "price",
                      "occurrences": 12
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "import Profound from '@profoundai/client';\n\nconst client = new Profound({\n  apiKey: process.env['PROFOUND_API_KEY'], // This is the default and can be omitted\n});\n\nconst response = await client.reports.streamSentiment({\n  category_id: '182bd5e5-6e1a-4fe4-a799-aa6d9a6ab26e',\n  end_date: '2019-12-27T18:11:19.117Z',\n  metrics: ['positive'],\n  start_date: '2019-12-27T18:11:19.117Z',\n});\n\nconsole.log(response);"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os\n\nfrom profound import Profound\n\nclient = Profound(\n    api_key_header=os.environ.get(\"API_KEY_HEADER\"),\n)\n\nstream = client.reports.sentiment.stream_v1_reports_stream_post(\n    date_interval=\"day\",\n    dimensions=[],\n    metrics=[],\n    order_by={},\n    category_id=\"\",\n    start_date=\"\",\n    end_date=\"\",\n)\nfor event in stream:\n    print(event)"
          },
          {
            "lang": "TypeScript",
            "label": "TypeScript",
            "source": "import Profound from \"@profoundai/client\";\n\nconst client = new Profound({\n  apiKeyHeader: process.env[\"API_KEY_HEADER\"], // defaults to the API_KEY_HEADER env var\n  environment: \"production\",\n});\n\nconst stream = await client.reports.sentiment.streamV1ReportsStreamPost({\n  date_interval: \"day\",\n  dimensions: [],\n  metrics: [],\n  order_by: {},\n  category_id: \"\",\n  start_date: \"\",\n  end_date: \"\",\n});\nfor await (const event of stream) {\n  console.log(event);\n}"
          }
        ]
      }
    },
    "/v1/reports/sentiment-v2": {
      "post": {
        "tags": [
          "Reports",
          "Reports"
        ],
        "summary": "Query Sentiment V2",
        "operationId": "query_sentiment_v2_v1_reports_sentiment_v2_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SentimentV2ReportQuery"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SentimentV2ReportResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "import Profound from '@profoundai/client';\n\nconst client = new Profound({\n  apiKey: process.env['PROFOUND_API_KEY'], // This is the default and can be omitted\n});\n\nconst response = await client.reports.sentimentV2({\n  asset_name: 'asset_name',\n  category_id: '182bd5e5-6e1a-4fe4-a799-aa6d9a6ab26e',\n  end_date: '2019-12-27T18:11:19.117Z',\n  metrics: ['sentiment'],\n  start_date: '2019-12-27T18:11:19.117Z',\n});\n\nconsole.log(response.info);"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os\n\nfrom profound import Profound\n\nclient = Profound(\n    api_key_header=os.environ.get(\"API_KEY_HEADER\"),\n)\n\nreport = client.reports.query_sentiment_v2_v1_sentiment_v2_post(\n    category_id=\"\",\n    asset_name=\"\",\n    start_date=\"\",\n    end_date=\"\",\n    date_interval=\"day\",\n    metrics=[],\n)\nprint(report)"
          },
          {
            "lang": "TypeScript",
            "label": "TypeScript",
            "source": "import Profound from \"@profoundai/client\";\n\nconst client = new Profound({\n  apiKeyHeader: process.env[\"API_KEY_HEADER\"], // defaults to the API_KEY_HEADER env var\n  environment: \"production\",\n});\n\nconst querySentimentV2V1SentimentV2Post = await client.reports.querySentimentV2V1SentimentV2Post({\n  category_id: \"\",\n  asset_name: \"\",\n  start_date: \"\",\n  end_date: \"\",\n  date_interval: \"day\",\n  metrics: [],\n});\nconsole.log(querySentimentV2V1SentimentV2Post);"
          }
        ]
      }
    },
    "/v1/reports/web-search-results": {
      "post": {
        "tags": [
          "Reports",
          "Reports"
        ],
        "summary": "Query Web Search Results",
        "description": "Get web search results for a given category.",
        "operationId": "query_web_search_results_v1_reports_web_search_results_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebSearchResultsQuery"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebSearchResultsResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "import Profound from '@profoundai/client';\n\nconst client = new Profound({\n  apiKey: process.env['PROFOUND_API_KEY'], // This is the default and can be omitted\n});\n\nconst response = await client.reports.webSearchResults.query({\n  category_id: '182bd5e5-6e1a-4fe4-a799-aa6d9a6ab26e',\n  end_date: '2019-12-27T18:11:19.117Z',\n  metrics: ['count'],\n  start_date: '2019-12-27T18:11:19.117Z',\n});\n\nconsole.log(response.data);"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os\n\nfrom profound import Profound\n\nclient = Profound(\n    api_key_header=os.environ.get(\"API_KEY_HEADER\"),\n)\n\nweb_search_result = client.reports.web_search_results.query(\n    date_interval=\"day\",\n    dimensions=[],\n    metrics=[],\n    order_by={},\n    category_id=\"\",\n    start_date=\"\",\n    end_date=\"\",\n)\nprint(web_search_result)"
          },
          {
            "lang": "TypeScript",
            "label": "TypeScript",
            "source": "import Profound from \"@profoundai/client\";\n\nconst client = new Profound({\n  apiKeyHeader: process.env[\"API_KEY_HEADER\"], // defaults to the API_KEY_HEADER env var\n  environment: \"production\",\n});\n\nconst query = await client.reports.webSearchResults.query({\n  date_interval: \"day\",\n  dimensions: [],\n  metrics: [],\n  order_by: {},\n  category_id: \"\",\n  start_date: \"\",\n  end_date: \"\",\n});\nconsole.log(query);"
          }
        ]
      }
    },
    "/v1/reports/web-search-results/stream": {
      "post": {
        "tags": [
          "Reports",
          "Reports"
        ],
        "summary": "Stream Web Search Results",
        "operationId": "stream_web_search_results_v1_reports_web_search_results_stream_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StreamWebSearchResultsQuery"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Server-sent events stream. Emits a `summary` event first, then one `row` event per streamed row.",
            "content": {
              "text/event-stream": {
                "schema": {
                  "oneOf": [
                    {
                      "properties": {
                        "query": {
                          "additionalProperties": true,
                          "type": "object",
                          "title": "Query",
                          "description": "The normalized query used to build the stream."
                        },
                        "total_rows": {
                          "type": "integer",
                          "title": "Total Rows",
                          "description": "Total number of rows available before pagination is applied."
                        }
                      },
                      "type": "object",
                      "required": [
                        "query",
                        "total_rows"
                      ],
                      "title": "SSESummaryEventData"
                    },
                    {
                      "additionalProperties": true,
                      "type": "object",
                      "description": "A streamed web-search-results report row payload."
                    }
                  ]
                },
                "examples": {
                  "summary": {
                    "summary": "Initial summary event payload",
                    "value": {
                      "query": {
                        "category_id": "12345678-1234-5678-1234-567812345678",
                        "metrics": [
                          "count"
                        ],
                        "dimensions": [
                          "model"
                        ]
                      },
                      "total_rows": 2
                    }
                  },
                  "row": {
                    "summary": "Streamed row event payload",
                    "value": {
                      "model": {
                        "id": "11111111-1111-1111-1111-111111111111",
                        "name": "GPT-4"
                      },
                      "count": 42
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "import Profound from '@profoundai/client';\n\nconst client = new Profound({\n  apiKey: process.env['PROFOUND_API_KEY'], // This is the default and can be omitted\n});\n\nconst response = await client.reports.webSearchResults.stream({\n  category_id: '182bd5e5-6e1a-4fe4-a799-aa6d9a6ab26e',\n  end_date: '2019-12-27T18:11:19.117Z',\n  metrics: ['count'],\n  start_date: '2019-12-27T18:11:19.117Z',\n});\n\nconsole.log(response);"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os\n\nfrom profound import Profound\n\nclient = Profound(\n    api_key_header=os.environ.get(\"API_KEY_HEADER\"),\n)\n\nstream = client.reports.web_search_results.stream(\n    date_interval=\"day\",\n    dimensions=[],\n    metrics=[],\n    order_by={},\n    category_id=\"\",\n    start_date=\"\",\n    end_date=\"\",\n)\nfor event in stream:\n    print(event)"
          },
          {
            "lang": "TypeScript",
            "label": "TypeScript",
            "source": "import Profound from \"@profoundai/client\";\n\nconst client = new Profound({\n  apiKeyHeader: process.env[\"API_KEY_HEADER\"], // defaults to the API_KEY_HEADER env var\n  environment: \"production\",\n});\n\nconst stream = await client.reports.webSearchResults.stream({\n  date_interval: \"day\",\n  dimensions: [],\n  metrics: [],\n  order_by: {},\n  category_id: \"\",\n  start_date: \"\",\n  end_date: \"\",\n});\nfor await (const event of stream) {\n  console.log(event);\n}"
          }
        ]
      }
    },
    "/v1/reports/referrals": {
      "post": {
        "tags": [
          "Reports",
          "Human Referrals"
        ],
        "summary": "Get Referrals Report V1",
        "description": "Get referral traffic report from the daily aggregated materialized view.\n\nThis endpoint queries pre-aggregated daily referral data, making it efficient\nfor large date ranges and high-traffic sites.",
        "operationId": "get_referrals_report_v1_v1_reports_referrals_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReferralsQuery"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "import Profound from '@profoundai/client';\n\nconst client = new Profound({\n  apiKey: process.env['PROFOUND_API_KEY'], // This is the default and can be omitted\n});\n\nconst reportResponse = await client.reports.getReferralsReport({\n  domain: 'domain',\n  metrics: ['visits'],\n  start_date: '2019-12-27T18:11:19.117Z',\n});\n\nconsole.log(reportResponse.data);"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os\n\nfrom profound import Profound\n\nclient = Profound(\n    api_key_header=os.environ.get(\"API_KEY_HEADER\"),\n)\n\nreferral = client.reports.referrals.create_report_v1_v1_reports_post(\n    date_interval=\"day\",\n    dimensions=[],\n    metrics=[],\n    order_by={},\n    domain=\"\",\n    start_date=\"\",\n)\nprint(referral)"
          },
          {
            "lang": "TypeScript",
            "label": "TypeScript",
            "source": "import Profound from \"@profoundai/client\";\n\nconst client = new Profound({\n  apiKeyHeader: process.env[\"API_KEY_HEADER\"], // defaults to the API_KEY_HEADER env var\n  environment: \"production\",\n});\n\nconst report = await client.reports.referrals.createReportV1V1ReportsPost({\n  date_interval: \"day\",\n  dimensions: [],\n  metrics: [],\n  order_by: {},\n  domain: \"\",\n  start_date: \"\",\n});\nconsole.log(report);"
          }
        ]
      }
    },
    "/v1/reports/bots": {
      "post": {
        "tags": [
          "Reports",
          "Bot Traffic Reports"
        ],
        "summary": "Get Bots Report V1",
        "description": "Get bot traffic report from the daily aggregated materialized view.\n\nThis endpoint queries pre-aggregated daily bot data, making it efficient\nfor large date ranges and high-traffic sites.\n\nMetrics:\n- count: unique bot visits\n- citations: unique citation events\n- indexing: unique indexing events\n- training: unique training events\n- last_visit: most recent visit timestamp",
        "operationId": "get_bots_report_v1_v1_reports_bots_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BotsReportQuery"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Response"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "BearerAuth": []
          }
        ],
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "import Profound from '@profoundai/client';\n\nconst client = new Profound({\n  apiKey: process.env['PROFOUND_API_KEY'], // This is the default and can be omitted\n});\n\nconst reportResponse = await client.reports.getBotsReport({\n  domain: 'domain',\n  metrics: ['count'],\n  start_date: '2019-12-27T18:11:19.117Z',\n});\n\nconsole.log(reportResponse.data);"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os\n\nfrom profound import Profound\n\nclient = Profound(\n    api_key_header=os.environ.get(\"API_KEY_HEADER\"),\n)\n\nbot = client.reports.bots.create_report_v1_v1_reports_post(\n    date_interval=\"day\",\n    dimensions=[],\n    metrics=[],\n    order_by={},\n    domain=\"\",\n    start_date=\"\",\n)\nprint(bot)"
          },
          {
            "lang": "TypeScript",
            "label": "TypeScript",
            "source": "import Profound from \"@profoundai/client\";\n\nconst client = new Profound({\n  apiKeyHeader: process.env[\"API_KEY_HEADER\"], // defaults to the API_KEY_HEADER env var\n  environment: \"production\",\n});\n\nconst report = await client.reports.bots.createReportV1V1ReportsPost({\n  date_interval: \"day\",\n  dimensions: [],\n  metrics: [],\n  order_by: {},\n  domain: \"\",\n  start_date: \"\",\n});\nconsole.log(report);"
          }
        ]
      }
    },
    "/v1/content/{asset_id}/optimization": {
      "get": {
        "tags": [
          "Content",
          "beta",
          "Content optimization"
        ],
        "summary": "Optimization List",
        "operationId": "optimization_list_v1_content__asset_id__optimization_get",
        "security": [
          {
            "APIKeyHeader": []
          },
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "asset_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "title": "Asset Id"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "maximum": 50000,
              "exclusiveMinimum": 0,
              "description": "Maximum number of results to return",
              "default": 10000,
              "title": "Limit"
            },
            "description": "Maximum number of results to return"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "description": "Offset for pagination",
              "default": 0,
              "title": "Offset"
            },
            "description": "Offset for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContentOptimizationResponse"
                }
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        },
        "x-codeSamples": [
          {
            "lang": "JavaScript",
            "source": "import Profound from '@profoundai/client';\n\nconst client = new Profound({\n  apiKey: process.env['PROFOUND_API_KEY'], // This is the default and can be omitted\n});\n\nconst optimizations = await client.content.optimization.list(\n  '182bd5e5-6e1a-4fe4-a799-aa6d9a6ab26e',\n);\n\nconsole.log(optimizations.data);"
          },
          {
            "lang": "Python",
            "label": "Python",
            "source": "import os\n\nfrom profound import Profound\n\nclient = Profound(\n    api_key_header=os.environ.get(\"API_KEY_HEADER\"),\n)\n\noptimization = client.content.optimization.list(\n    asset_id=\"assetId\",\n    limit=10000,\n    offset=0,\n)\nprint(optimization)"
          },
          {
            "lang": "TypeScript",
            "label": "TypeScript",
[...]
